.list{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: white;
    margin: 20px auto;
    border-radius: 10px;
    padding: 0px;
}

.listItem{
    list-style-type: none;
    border: 1px solid black;
    margin: 1% auto;
    width: 95%;
}